{% extends 'base.html' %}

{% block head %} Editar usuario {% endblock %}


{% block content %}
<div class="container">
        <div class="row">
            <div class="col">
            <form method="get">
                    {% for d in data %}
                        <input type="text" value="{{d.id_usuario}}" name="empleado" hidden>
                        <h2 class="text-info text">Datos del empleado</h2>
                        <label class="text">Nombre del empleado:</label>
                        <p>  
                            <input type="text" value="{{d.nombre}} {{d.appaterno}} {{d.apmaterno}}" disabled>
                        </p>
                    {% endfor %}
                    
                    {%if dataUser%}
                        {% for dU in dataUser %}
                            <label  class="text"> El empleado esta asignado a: </label>
                            <p class="text-success">
                                {{dU.id_plaza.nombre}}, {{dU.id_plaza.ubicacion}}. 
                            </p>
                            <label class="text">Tiene el rol de:</label>
                            <p class="text-success">
                                {{dU.id_rol.tipoRol}}.
                            </p>
                        {% endfor %}
                    {% else %}
                            <label class="text" for="noData"> El usuario no tiene registro!</label>
                    {% endif %}

                </div>
                <div class="col">
                    <h2 class="text-info text">Opciones</h2>
                    <label class="text" for="plaza">Asignar a una plaza? Plazas disponibles!</label>
                    <p>

                        <select name="plaza" required>
                            <option disabled selected>seleccione la plaza</option>
                            {% for p in plz%}
                            <option value="{{p.id_plaza}}">{{p.nombre}}, {{p.ubicacion}} </option>
                            {% endfor %}
                        </select>  
                    </p>
                    <div class="mb-3">
                        <label class="text" for="rol">Dar le un rol? Roles registrados!</label>
                        <p>
                            <select name="rol" required>
                                <option disabled selected> Selececcione el rol del usuario</option>
                               {% for r in rol %}
                                    <option value="{{r.id_rol}}" >{{r.tipoRol}}</option>
                               {% endfor %}
                            </select>
                        </p>
                    </div>
                    
                </div>
                <div class="col-lg-12 col-mb-12">
                    <center>
                        <button type="submit" class="btn btn-primary">Registrar al empleado en la plaza</button>
                    </center>
                </div>
            </form>
        </div>

</div>

{% endblock %}