{% extends 'base.html' %}

{% block head %} Editar producto {% endblock %}

{% block content %}
<div class="conatiner">
    <div class="row">
        <div class="col">
            <h2>Editar datos del producto</h2>
            <form method="get">
                {% for e in product %} 
                    <label for="nombreProducto">Nombre producto</label>
                        <p>  
                            <input type="text" value="{{e.id_producto}}" name="id_producto" hidden>
                            <input class="form-control" type="text" value="{{e.nombreproducto}}" name="nombreProducto">

                        </p>
                    <label for="cantidadProducto">Agregar cantidad</label>
                        <p>  
                            <input class="form-control" type="number" name="cantidad" placeholder="Agregar mas existencias?">
                        </p>
                    <label for="precioProducto">Precio establecido</label>
                        <p class="mb-3">
                            <input class="form-control" type="number" value="{{e.precio}}" name="precio">
                        </p>
                    
                        <button type="submit" class="form-control btn btn-outline-primary"> Guardar datos</button>
                {% endfor %}
            </form>
        </div>
        <div class="col">
            <h2>Asignar producto a plaza</h2>
            <form method="get">

                    {% for e in product %}
                    <div class="mb-3">
                        <label for="">Cantidad de producto a asignar</label>
                        <p>
                            <input class="form-control" type="text" value="{{e.id_producto}}" name="id_productoAdd" hidden>
                            <input type="number" name="cantidad" placeholder="cantiad producto">
                        </p>
                   </div>
                    {% endfor %}
                    <div class="mb-3">
                        <label for="">Seleccione la plaza</label>
                        <p>

                            <select name="plaza">
                                <option value disabled>seleccione la plaza</option>
                                {% for p in plaza%}
                                <option name="id_plaza" value="{{p.id_plaza}}">{{p.nombre}}, {{p.ubicacion}} </option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>
                    <button type="submit">Agregar producto a plaza</button>
            </form>

        </div>
    </div>
    
</div>
{% endblock %}