{% extends 'base.html' %}
{% load static %}
{% block head %} Pedidos {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {%if pedidos%}
                
                <table class="table">
                    <thead>
                        <th>
                            Nombre del cliente
                        </th>
                        <th>
                            Descripcion del pedido
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            Cantidad 
                        </th>
                        <th>
                            Opciones
                        </th>
                    </thead>
                    <tbody>
                        {% for p in pedidos %}
                            {% if p.estadoPago == 0  %}
                                <tr>
                                    <td>{{p.nombrecliente}}  </td>
                                    <td>{{p.descripcionpedido}} </td>
                                    <td>{{p.precio}}</td>
                                    <td>{{p.cantidadproducto}}</td>
                                    <td><form action="{% url 'editPedido' %}" method="get"><input hidden type="text" value="{{p.id_pedido}}" name="id_Edit"> <button class="btn btn-primary"  type="submit">Abonar a producto</button></form> 
                                        <form action="{% url 'delPedido' %}" method="get"><input hidden type="text" value="{{p.id_pedido}}" name="id_Del"> <button class="btn btn-danger">Cancerlar el pedido</button> </form></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    
                        <img class="mx-auto noPedidos" src="{% static 'img/noRegistro.gif' %}" style="margin-right: 0%; margin-top: 1%; height: 390px; width:500px; " >
                    
                {%endif%}
            </div>
            <div class="col">
                <h2> Registrar nuevo pedido</h2>
                        <form action="{%url 'registrarPedido'%}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <input class="form-control" type="text" name="nombrecliente" placeholder="Ej:Alexis">
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control" name="descripcionpedido" cols="20" rows="10" placeholder="EJ:Conchas sabor a chocolate"></textarea>
                            </div>
                            <div class="mb-3">
                                 <input class="form-control" type="number" name="precio" step="0.01" placeholder="Precio $">
                            </div>
                            <div class="mb-3">
                                <input class="form-control" type="number" name="cantidad" placeholder="cantidad de producto">
                            </div>
                            {% for plz in p %}
                                <input type="number" name="id_plaza" value="{{plz.id_plaza}}" hidden>
                            {% endfor %}
                            <div class="mb-3">
                                <button type="submit" class="btn btn-outline-success">Registrar pedido</button>
                            </div>
                        </form>
            </div>
        </div>
    </div>
{% endblock %}