{% extends 'base.html' %}
{% block head  %} Ventas{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="text">Lista de productos</h2>
                <table class=" table">
                    <thead>
                        <th class="text">Nombre producto</th>
                        <th class="text">Existencias disponibles</th>
                        <th class="text">Precio</th>
                        <th class="text">Opciones</th>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        {% if item.cantidadProductoPlaza > 0 %}
                        <tr class="producto">
                                <td class="id_producto text" hidden>{{item.id_productoPlaza}}</td>
                                <td class="id_plaza text" hidden>{{item.id_plaza.id_plaza}}</td>
                                <td class="nombre text">{{item.id_producto.nombreproducto}}</td>
                                <td class="cantidad text">{{item.cantidadProductoPlaza}} piezas</td>
                                <td class="precio text">{{item.id_producto.precio}}</td>
                                <div class="item-details">
                                    <td><button class="btn btn-primary" id="btn-agregarProducto">Agregar a la venta</button></td>
                                </div>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="col">
                <h2 class="text">Canasta de venta</h2>
                <form>
                    <table class="table">
                        <thead >
                            <th class="text"> Nombre producto</th>
                            <th class="text">cantidad</th>
                            <th class="text">precio</th>
                        </thead>
                        <tbody class="tbody">
                          
                        </tbody>
                    </table>
                    <div>
                        <button type="button" id="btn-vender" class="btn btn-outline-success">Realizar venta</button>
                        <label class="text">Total: $</label>
                        <label class="text" for="Total" id="total"> </label>
                    </div>
                </form>
            </div>

        </div>

    </div>    
{% endblock %}

